* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", "Courier New", sans-serif;
    background-color: salmon;
}

h1 {
    text-align: center;
    font-size: 45px;
}

.home-body {
    max-width: 100%;
    margin: 0 auto;
}

.home-body h1 {
    color: cornsilk;
}

.home-body ul {
    background-color: lemonchiffon;
    width: 200px;
    margin: 0 auto;
    padding: 20px 30px 50px;
}

img {
    display: block;
    width: auto;
    margin: 0 auto 20px;
}

.content {
    background-color: lemonchiffon;
    padding: 10px;
    margin: 0 auto 10px;
    max-width: 720px;
    min-width: 470px;
}

.content p, .content h2, .content ul, .content ol {
    margin: 0;
}

.description {
    font-size: 18px;
    font-weight: 600;
}

.content h2 {
    font-size: 30px;
}

.content ul, .content ol {
    padding-left: 20px
}